p{ font-size: 20px;}
span{ font-size: 30px}
#parrafo1{font-family: Verdana}
.clase1{font-size: 10px;
			font-family: Verdana}
p:nth-child(1){
	background: #99ff99;
}
p:nth-child(2){
	background: #00ff99;
}
p:nth-child(3){
	background: #99ff99;
}
p:nth-child(4){
	background: #00ff99;
}
/* *{
	margin:20px;
}*/